import React from 'react';
import styles from './{{pascalCase name}}.module.css';

export interface {{pascalCase name}}Props {
  // TODO: define props
}

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = ({ children }) => {
  return <div className={styles.container}>{children ?? '{{pascalCase name}} works!'}</div>;
};

export default {{pascalCase name}}; 